<!DOCTYPE html>
<html>
<head>
	<title>Irregular Verbs - Answer</title>
	<link rel="stylesheet" type="text/css" href="static/game.css"/>
</head>
<body>
<div id="game">
	<form action="" method="post">
		<div id="questao">
			
			<img src="static/socorro_errado.svg" />
			<div id="status">
				<div>
					<p>Verb: &nbsp;<b>{{ questao }}</p>
				</div>
			</div>
			<div id="sua-resposta">
				<div>
					<p>Answer: &nbsp;<input type="text" name="resposta" value="{{ request.form.resposta }}"></p>
					<input id="enviar" type="submit" value="Responder"> 
				</div>
			</div>
		</div><!--#questao-->
	</form>
</div><!--#game-->
</body>
</html>